@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-cyrillic_latin-500.woff2") format("woff2"),
    url("../fonts/montserrat-v25-cyrillic_latin-500.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v25-cyrillic_latin-700.woff") format("woff");
  font-display: swap;
}

$white: #fff;
$green: #00836f;
$green-hover: #265951;

/* null styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
button {
  cursor: pointer;
  font-family: inherit;
}
*::selection {
  color: $green;
  background-color: $white;
}

@keyframes wallpaper {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(5px, -10px);
  }
  30% {
    transform: translate(-5px, -5px);
  }
  40% {
    transform: translate(0, -10px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(15px, 0);
  }
  90% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes filling {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(3px, -3px);
  }
  55% {
    transform: translate(-1px, -6px);
  }
  80% {
    transform: translate(-3px, 1px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}
