@import "_utility";

html {
  background-color: #333;
}
body {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Lora", sans-serif;
  text-rendering: optimizeSpeed;
}
.wrapper {
  height: 100vh;
  overflow: hidden;
  max-width: 100%;
}
.video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: filter 0.3s;

  &._blurry {
    filter: blur(10px);
  }
  // &__support {
  // }
}
.option-button {
  top: 50%;
  left: 50%;
  color: #fff;
  cursor: pointer;
  border: 2px solid white;
  padding: 15px 30px;
  position: fixed;
  font-size: 24px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;

  &--left {
    top: 80%;
    transform: translate(-150%, -50%);
  }
  &--right {
    top: 80%;
    transform: translate(50%, -50%);
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  &._hidden {
    display: none;
  }
}
.final {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  display: flex;
  position: fixed;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  font-weight: 700;
  align-items: center;
  font-family: inherit;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);

  &._active {
    opacity: 1;
    visibility: visible;
  }
  &__text {
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
  }
}
