@import "_utility";

html {
  font-size: 10px;
  background-color: #000;
}
body {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeSpeed;
}
.wrapper {
  height: 100vh;
  padding: 5rem;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  text-align: center;
}
.video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  object-fit: cover;
  transition: filter 0.3s;

  &._blurry {
    filter: blur(10px);
  }
  // &__support {
  // }
}
.interface {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.buttons-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}
.button {
  color: $white;
  border: none;
  filter: blur(0);
  opacity: 1;
  padding: 1.5rem 3rem;
  font-size: 3rem;
  transform: scale(1);
  visibility: visible;
  font-weight: 500;
  border-radius: 0.5rem;
  pointer-events: all;
  text-transform: uppercase;
  background-color: $green;
  transition-duration: 0.3s;
  transition-property: background-color, transform, opacity, visibility;

  // &_start {
  // }
  // &_resume {
  // }
  &_repeat {
    margin-left: 5rem;
  }
  &_option {
    & + & {
      margin-left: 5rem;
    }
    &:hover ~ %button-selection {
      opacity: 0.05;
    }
    &:nth-child(1):hover ~ %button-selection {
      transform: translateX(-50%);
    }
    &:nth-child(2):hover ~ %button-selection {
      transform: translateX(50%);
    }
  }
  &:hover {
    background-color: $green-hover;
  }
  &._hidden {
    filter: blur(5px);
    opacity: 0;
    transform: scale(1.5);
    visibility: hidden;
  }
}
.button-selection {
  top: 5%;
  left: 30%;
  right: 30%;
  bottom: 5%;
  filter: blur(50px);
  opacity: 0;
  position: absolute;
  background-color: $green;
  transition: transform 0.5s, opacity 0.3s;

  @extend %button-selection !optional;
}
.filling {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skew(-2deg);
  position: absolute;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;

  &::before,
  &::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0.3;
    position: absolute;
    animation: filling 5s ease-out 0s infinite;
    background: url("../images/lines.svg") top left / 100px repeat transparent;
  }
  &::after {
    top: 5px;
    left: 10px;
    opacity: 0.1;
  }
  &._hidden {
    opacity: 0;
    visibility: hidden;
  }
  &__circles {
    &::before,
    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0.4;
      position: absolute;
      animation: filling 5s ease-out 0.2s infinite;
      background: url("../images/circle.svg") top left / 100px repeat
        transparent;
    }
    &::after {
      top: 5px;
      left: 10px;
      opacity: 0.1;
    }
  }
}
.screensaver {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  position: absolute;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;

  &._hidden {
    opacity: 0;
    visibility: hidden;
  }
  svg {
    position: absolute;
    animation: wallpaper 15s ease 0s infinite;

    &:nth-child(1) {
      color: $green;
      right: -10%;
      bottom: 5%;
      width: 40%;
      height: 40%;
      opacity: 0.15;
    }
    &:nth-child(2) {
      color: $white;
      right: -10%;
      bottom: -10%;
      width: 60%;
      height: 60%;
      filter: blur(10px);
      opacity: 0.1;
      animation-delay: 1s;
    }
    &:nth-child(3) {
      top: 2%;
      left: 10%;
      width: 20%;
      height: 20%;
      color: $white;
      filter: blur(5px);
      opacity: 0.15;
    }
    &:nth-child(4) {
      top: 12%;
      left: 8%;
      width: 15%;
      height: 15%;
      color: $green;
      opacity: 0.25;
      animation-delay: 1.5s;
    }
  }
}
.final {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  display: flex;
  position: fixed;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  font-weight: 700;
  align-items: center;
  font-family: inherit;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);

  &._active {
    opacity: 1;
    visibility: visible;
  }
  &__inner {
    position: relative;

    svg {
      position: absolute;

      &:first-child {
        top: -4rem;
        left: -4rem;
        width: 20rem;
        height: 20rem;
        color: $green;
        animation: wallpaper 15s ease -1s infinite;
      }
      &:last-child {
        top: 1.4rem;
        left: 5.5rem;
        width: 7rem;
        height: 7rem;
        color: $white;
        animation: rotate 3s linear 0s infinite;
      }
    }
  }
  &__text {
    position: relative;
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
  }
}
