@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-500.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-700.woff") format("woff");
  font-display: swap;
}
/* null styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  cursor: pointer;
  font-family: inherit;
}

*::-moz-selection {
  color: #00836f;
  background-color: #fff;
}

*::selection {
  color: #00836f;
  background-color: #fff;
}

@-webkit-keyframes wallpaper {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(5px, -10px);
  }
  30% {
    transform: translate(-5px, -5px);
  }
  40% {
    transform: translate(0, -10px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(15px, 0);
  }
  90% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes wallpaper {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(5px, -10px);
  }
  30% {
    transform: translate(-5px, -5px);
  }
  40% {
    transform: translate(0, -10px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(15px, 0);
  }
  90% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes filling {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(3px, -3px);
  }
  55% {
    transform: translate(-1px, -6px);
  }
  80% {
    transform: translate(-3px, 1px);
  }
}
@keyframes filling {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(3px, -3px);
  }
  55% {
    transform: translate(-1px, -6px);
  }
  80% {
    transform: translate(-3px, 1px);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}
html {
  font-size: 10px;
  background-color: #000;
}

body {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeSpeed;
}

.wrapper {
  height: 100vh;
  padding: 5rem;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  text-align: center;
}

.video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.3s;
}
.video._blurry {
  filter: blur(10px);
}

.interface {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.buttons-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.button {
  color: #fff;
  border: none;
  filter: blur(0);
  opacity: 1;
  padding: 1.5rem 3rem;
  font-size: 3rem;
  transform: scale(1);
  visibility: visible;
  font-weight: 500;
  border-radius: 0.5rem;
  pointer-events: all;
  text-transform: uppercase;
  background-color: #00836f;
  transition-duration: 0.3s;
  transition-property: background-color, transform, opacity, visibility;
}
.button_repeat {
  margin-left: 5rem;
}
.button_option + .button_option {
  margin-left: 5rem;
}
.button_option:hover ~ .button-selection {
  opacity: 0.05;
}
.button_option:nth-child(1):hover ~ .button-selection {
  transform: translateX(-50%);
}
.button_option:nth-child(2):hover ~ .button-selection {
  transform: translateX(50%);
}
.button:hover {
  background-color: #265951;
}
.button._hidden {
  filter: blur(5px);
  opacity: 0;
  transform: scale(1.5);
  visibility: hidden;
}

.button-selection {
  top: 5%;
  left: 30%;
  right: 30%;
  bottom: 5%;
  filter: blur(50px);
  opacity: 0;
  position: absolute;
  background-color: #00836f;
  transition: transform 0.5s, opacity 0.3s;
}

.filling {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skew(-2deg);
  position: absolute;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}
.filling::before, .filling::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.3;
  position: absolute;
  -webkit-animation: filling 5s ease-out 0s infinite;
          animation: filling 5s ease-out 0s infinite;
  background: url("../images/lines.svg") top left/100px repeat transparent;
}
.filling::after {
  top: 5px;
  left: 10px;
  opacity: 0.1;
}
.filling._hidden {
  opacity: 0;
  visibility: hidden;
}
.filling__circles::before, .filling__circles::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.4;
  position: absolute;
  -webkit-animation: filling 5s ease-out 0.2s infinite;
          animation: filling 5s ease-out 0.2s infinite;
  background: url("../images/circle.svg") top left/100px repeat transparent;
}
.filling__circles::after {
  top: 5px;
  left: 10px;
  opacity: 0.1;
}

.screensaver {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  position: absolute;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}
.screensaver._hidden {
  opacity: 0;
  visibility: hidden;
}
.screensaver svg {
  position: absolute;
  -webkit-animation: wallpaper 15s ease 0s infinite;
          animation: wallpaper 15s ease 0s infinite;
}
.screensaver svg:nth-child(1) {
  color: #00836f;
  right: -10%;
  bottom: 5%;
  width: 40%;
  height: 40%;
  opacity: 0.15;
}
.screensaver svg:nth-child(2) {
  color: #fff;
  right: -10%;
  bottom: -10%;
  width: 60%;
  height: 60%;
  filter: blur(10px);
  opacity: 0.1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.screensaver svg:nth-child(3) {
  top: 2%;
  left: 10%;
  width: 20%;
  height: 20%;
  color: #fff;
  filter: blur(5px);
  opacity: 0.15;
}
.screensaver svg:nth-child(4) {
  top: 12%;
  left: 8%;
  width: 15%;
  height: 15%;
  color: #00836f;
  opacity: 0.25;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.final {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  display: flex;
  position: fixed;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  font-weight: 700;
  align-items: center;
  font-family: inherit;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.final._active {
  opacity: 1;
  visibility: visible;
}
.final__inner {
  position: relative;
}
.final__inner svg {
  position: absolute;
}
.final__inner svg:first-child {
  top: -4rem;
  left: -4rem;
  width: 20rem;
  height: 20rem;
  color: #00836f;
  -webkit-animation: wallpaper 15s ease -1s infinite;
          animation: wallpaper 15s ease -1s infinite;
}
.final__inner svg:last-child {
  top: 1.4rem;
  left: 5.5rem;
  width: 7rem;
  height: 7rem;
  color: #fff;
  -webkit-animation: rotate 3s linear 0s infinite;
          animation: rotate 3s linear 0s infinite;
}
.final__text {
  position: relative;
  font-size: 8rem;
  text-align: center;
  text-transform: uppercase;
}